@page "/reservations"
@using Traveless.Data

<!--New Front End-->
<head>
    <style>

        h3 {
            text-align: center;
            margin-top: 16px;
        }

        select {
            width: 100%;
            padding: 8px 8px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=text] {
            width: 100%;
            padding: 6px 8px;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        button {
            width: 100%;
            background-color: dodgerblue;
            color: white;
            padding: 6px 0px;
            margin: 24px 0px;
            border: none;
            border-radius: 4px;
        }

        button:hover {
            background-color: #389dff;
        }

        .row {
            display: flex;
            flex-direction: row;
        }

        .row > div {
            width: 25%;
        }

        .row1 {
            display: flex;
            flex-direction: row;
            width: 100%;
        }

    </style>
</head>

<body>

    <h3>Reservation Finder</h3>

    <div class="row">
        <div class="c">
            <label>Reservation code:</label><br>
            <input type="text" id="reservationCode" name="reservationCode" placeholder="LDDD" value="@selectedReservationCode"><br>
        </div>
        <div class="c1">
            <label>Airline:</label><br>
            <input type="text" id="airline" name="airline" placeholder="Airline" value="@selectedAirline"><br>
        </div>
        <div class="c2">
            <label>Name:</label><br>
            <input type="text" id="name" name="name" placeholder="Name"value="@selectedName"><br>
        </div>
        <div class="c3">
            <button @onclick="FindReservations">Find reservations</button> <!--ToDo addonclick to load reservations list-->
        </div>
    </div>

    <h3>Reservations</h3>

    <div class="row1">
        <select @onchange="FillReservationsForm">
            <option>@loadingMessage</option>
            @foreach (Reservation reservation in foundReservations) //foundFlights converts all found flights ToString while providing them as options in the drop down menu
            {
                <option value="@reservation.ToString()">@reservation.ToString()</option>
            }
        </select>
    </div>

    <h3>Reserve</h3>

    <div class="row2">
        <div>
            <label>Reservation code:</label><br>
            <input type="text" id="reservationCode" name="reservationCode" placeholder="LDDD" value="@selectedReservationCode"><br>
        </div>
        <div>
            <label>Flight code:</label><br>
            <input type="text" id="flightCode" name="flightCode" placeholder="LL-DDDD" value="@selectedFlightCode" readonly><br>
        </div>
        <div>
            <label>Airline:</label><br>
            <input type="text" id="airline" name="airline" placeholder="Airline" value="@selectedAirline" readonly><br>
        </div>
        <div>
            <label>Cost:</label><br>
            <input type="text" id="cost" name="cost" placeholder="0" value="@selectedCost" readonly><br>
        </div>
        <div>
            <label>Name:</label><br>
            <input type="text" id="name" name="name" placeholder="Name" value="@selectedName" @onchange="FillName">><br> <!--Appears to not be a placeholder?-->
        </div>
        <div>
            <label>Citizenship:</label><br>
            <input type="text" id="citizenship" name="citizenship" placeholder="Citizenship" value="@selectedCitizenship" @onchange="FillCitizenship"><br>
        </div>
        <div>
            <label>Status:</label><br>
            <input type="text" id="status" name="status" placeholder="Active" value="@selectedStatus" @onchange="FillStatus"><br> <!--Appears to not be a placeholder?-->
        </div>
        <div>
            <button>Save</button>
        </div>
    </div>

</body>


@code {

    //FlightManager flightManager = new FlightManager();
    //List<Flight> listOfFlightsB = FlightManager.GetFlights();

    List<Reservation> listOfReservationsB = ReservationManager.GetReservations();

    public string loadingMessage = "Loading..."; //loading message for reservations list dropdown

    string selectedReservationCode;
    string selectedAirline;
    string selectedName;
    string selectedFlightCode;
    string selectedCost;
    string selectedCitizenship;
    string selectedStatus;

    private void FillReservationCode(ChangeEventArgs e)
    {
        selectedReservationCode = e.Value.ToString();
    }

    private void FillAirline(ChangeEventArgs e)
    {
        selectedAirline = e.Value.ToString();
    }

    private void FillName(ChangeEventArgs e)
    {
        selectedName = e.Value.ToString();
    }

    private void FillFlightCode(ChangeEventArgs e)
    {
        selectedFlightCode = e.Value.ToString();
    }

    private void FillCost(ChangeEventArgs e)
    {
        selectedCost = e.Value.ToString();
    }

    private void FillCitizenship(ChangeEventArgs e)
    {
        selectedCitizenship = e.Value.ToString();
    }

    private void FillStatus(ChangeEventArgs e)
    {
        selectedStatus = e.Value.ToString();
    }

    public void FillReservationsForm(ChangeEventArgs e)
    {
        //FlightManager flightManager = new FlightManager(); //Not need here //Will populate flights list when called

        //Need a populated resevation list first!!!

        string selectedReservation = e.Value.ToString();
        string[] reservationField = selectedReservation.Split(", ");

        selectedReservationCode = reservationField[0];
        selectedFlightCode = reservationField[1];
        selectedAirline = reservationField[2];
        selectedCost = reservationField[3];
        selectedName = reservationField[4];
        selectedCitizenship = reservationField[5];
        selectedStatus = reservationField[6];

        //Add reservation stuff here?
    }

    //List<Reservation> listOfReservations = ReservationManager.GetReservations(); Both important for loading the listOfReservations
    //ReservationManager reservationManager = new ReservationManager();

    List<Reservation> foundReservations = new List<Reservation>();

    public void FindReservations() //Throw exception here
    {
        //ReservationManager reservationManager = new ReservationManager();

        loadingMessage = "Select a reservation from the list";

        foundReservations.Clear();


        //string reservationCode = selectedReservationCode;
        //string flightCode = selectedFlightCode;
        //string name = selectedName;

        //string airline = selectedAirline;
        //string cost = selectedCost;

        //string citizenship = selectedCitizenship;
        //string status = "Active";

        foreach (Reservation reservation in listOfReservationsB)
        {
            if (selectedReservationCode == reservation.ReservationCode && selectedAirline == reservation.Airline && selectedName == reservation.Name)
            {
                foundReservations.Add(reservation);
            }
        }
    }





}
